<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add-message" method="post">
    <input type="text" placeholder="Enter Message" name="text"/>
    <button type="submit">Add Message</button>
</form>
<form action="/edit-message" method="post">
    <input type="number" placeholder="Enter message ID" name="id"/>
    <input type="text" placeholder="Name" name="text"/>
    <button type="submit">Edit Message</button>
</form>

    {{#messages}}
    {{id}}.    {{text}}<br>
    {{/messages}}
</body>
</html>